.skills {
    padding: 50px;
    text-align: center;}
      
.skills h1 {
    font-size: 36px;        
    color: #FFFFFF;}

    .budgets {
        display: flex;
        justify-content: center;
        margin-top: 50px;}
      
.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #213578b3;
    color: #fffffffc;
    margin: 20px;
    padding: 20px;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: solid 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.845);}

.budget:focus{
  border-color: #0067f7;}

#habilidades .budget:hover {
    background-color: #000000d7;
    transform: scale(1.4);
    transition: background-color 0.3s, transform 0.3s;}
      
.budget h3 {
    font-size: 24px;
    margin-bottom: 10px; }
      
.budget img {
 max-width: 80px;
 max-height: 80px;}
      
.budget p {
    display: none;
    font-size: 14px;}
      
.budget:hover p {
    display: block;}
    